.slills-subtitle {
  font-size: 1.3em;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
}

.skills-item {
  display: flex;
  align-items: center;
  margin: 5px;
  gap: 5px;
}

.menu-btn-icon {
  flex-shrink: 0;
  display: block;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}

.tech-skill {
  grid-column: span 2 / span 2;

  display: flex;
  justify-content: space-around;
}

.soft-skills {
  grid-row-start: 2;
}

.languages {
  grid-row-start: 2;
}
