.socials {
  display: none;
  align-items: center;
  gap: 14px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--cl-border);
  border-radius: 10px;
  color: var(--cl-icon);

  transition-property: color;
  border-radius: 8px;
  transition: all 0.4s ease;
}

.socials-link:hover {
  color: #000;
  box-shadow:
    6px 6px 12px rgba(0, 0, 0, 0.1),
    -6px -6px 12px rgba(255, 255, 255, 0.8);

  transform: translateY(-2px);
}

.socials-link:active {
  box-shadow:
    inset 4px 4px 8px rgba(0, 0, 0, 0.1),
    inset -4px -4px 8px rgba(255, 255, 255, 0.8);
  transform: translateY(0);
}

@media only screen and (min-width: 768px) {
  .socials {
    display: flex;
  }
}
