<section id="education" class="education">
  <div class="education-container container">
    <h2 class="section-title">Education</h2>
    <ul>
      <li>
        <ul>
          <li>
            Dnipro University of Technology Automation and computer-integrated
            technologies 2020-2024
          </li>
          <li>
            GoIT Neoversity Master of Science in Computer Science 2024-2026
          </li>
        </ul>
      </li>
      <li>
        <h3 class="section-subtitle">Curces</h3>
        <ul>
          <li>ITVDN C#/.Net Developer</li>
          <li>GoIT Java Developer</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
