<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-logo logo" href="#">Dmytro Chyrkin</a>

      <!-- <button class="menu-btn" type="button" aria-label="Open menu button">
        <svg class="menu-btn-icon" width="24" height="24">
          <use href="./src/images/icons.svg#paragraph-right"></use>
        </svg>
      </button> -->

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">About</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#stack">Stack</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#projects">Projects</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#experiences">Experience</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#education">Education</a>
        </li>
      </ul>
    </nav>
    <ul class="header-socials socials socials-dark">
      <!-- <li class="socials-item">
        <a class="socials-link" href="mailto:chyrkin.work@gmail.com">
          <svg class="socials-icon" width="24" height="24">
            <use href="./src/images/icons.svg#gmail"></use>
          </svg>
        </a>
      </li> -->
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://www.linkedin.com/in/dmytro-chyrkin-4a0a87321/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://t.me/dream2220009"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="images/icons.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://wa.me/355689186689"
          target="_blank"
          rel="./noopener noreferrer"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="images/icons.svg#whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://github.com/ChyrkinD"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="images/icons.svg#github"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
