<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-logo" href="#">{ Dmytro Chyrkin }</a>

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">About me</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#stack">Stack</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#projects">Projects</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#experiences">Experience</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#education">Education</a>
        </li>
      </ul>
    </nav>

    <button class="burger-btn" type="button" aria-label="Open menu button">
      <svg class="burger-icon" width="24" height="24">
        <use href="images/icons.svg#paragraph-right"></use>
      </svg>
    </button>

    <ul class="header-socials socials">
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://www.linkedin.com/in/dmytro-chyrkin-4a0a87321/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://t.me/dream2220009"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="images/icons.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://wa.me/355689186689"
          target="_blank"
          rel="./noopener noreferrer"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="images/icons.svg#whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          class="socials-link"
          href="https://github.com/ChyrkinD"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="images/icons.svg#github"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="mobile-menu js-menu-container">
    <div class="container mobile-menu-container">
      <button class="menu-close-btn js-close-menu">
        <svg width="20" height="20">
          <use href="images/icons.svg#cross"></use>
        </svg>
      </button>

      <ul class="mobile-nav-list">
        <li><a href="#" class="mobile-nav-link">About me</a></li>
        <li><a href="#stack" class="mobile-nav-link">Stack</a></li>
        <li><a href="#projects" class="mobile-nav-link">Projects</a></li>
        <li><a href="#experiences" class="mobile-nav-link">Experience</a></li>
      </ul>
    </div>
  </div>
</header>
