<section class="hero" id="home">
  <div class="hero-container container">
    <div class="hero-avatar">
      <img
        class="hero-avatar-img"
        src="images/hero-avatar.jpg"
        alt="Photo Dmytro Chyrkin on DOU DAY"
        width="400"
      />
    </div>
    <div class="hero-text">
      <h1 class="hero-title">Fullstack Developer</h1>
      <div>
        <h2 class="section-title">Summary</h2>
        <p class="hero-summary">
          I have recently transitioned my career to IT. Through dedicated study,
          I have built a strong foundation and comprehensive knowledge of modern
          technologies and development principles. I am eager to apply my
          knowledge to real-world projects, contribute effectively, and
          continuously grow as a professional. I am motivated by the belief that
          consistent self-improvement drives excellent results, and I am focused
          on maximizing my efficiency and effectiveness in a new role.
        </p>
        <button class="btn">Download CV</button>
      </div>
    </div>
  </div>
</section>
