<section id="projects" class="projects">
  <div class="projects-container container">
    <h2 class="section-title">Projects</h2>

    <ul>
      <li>
        <ul>
          <li>
            <img
              src="./src/images/hero-avatar.jpg"
              alt="Foodies site"
              width="100"
            />
          </li>
          <li>
            <img
              src="./src/images/hero-avatar.jpg"
              alt="Foodies site"
              width="100"
            />
          </li>
          <li>
            <img
              src="./src/images/hero-avatar.jpg"
              alt="Foodies site"
              width="100"
            />
          </li>
        </ul>
        <div>
          <h3 class="section-subtitle">TravelTrucks</h3>
          <p>
            Responsive web application allowing users to search, filter, and
            select the most suitable rental travel vehicles JS, React, Tailwind
            CSS, Vite, Figma, Git.
          </p>
        </div>
      </li>

      <li>
        <ul>
          <li>
            <img
              src="./src/images/hero-avatar.jpg"
              alt="Foodies site"
              width="100"
            />
          </li>
          <li>
            <img
              src="./src/images/hero-avatar.jpg"
              alt="Foodies site"
              width="100"
            />
          </li>
          <li>
            <img
              src="./src/images/hero-avatar.jpg"
              alt="Foodies site"
              width="100"
            />
          </li>
        </ul>
        <div>
          <h3 class="section-subtitle">Foodies</h3>
          <p>
            A web platform for sharing culinary recipes with social interaction
            capabilities. A system for publishing user content, subscribing to
            authors, and flexible filtering of dishes by ingredients has been
            implemented. JS, Node, Express, Sequelize, PostgreSQL, TS, React,
            Redux, Vite, Figma, Git, Docker.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
