<section id="projects" class="projects">
  <div class="projects-container container">
    <h2 class="section-title">Projects</h2>

    <ul class="project-list">
      <li class="project-list-item">
        <ul class="projet-images-list">
          <li class="projet-images-item">
            <img
              class="project-img"
              src="images/hero-avatar.jpg"
              alt="Foodies site"
              width="100"
            />
          </li>
          <li class="projet-images-item">
            <img
              class="project-img"
              src="images/hero-avatar.jpg"
              alt="Foodies site"
              width="100"
            />
          </li>
          <li class="projet-images-item">
            <img
              class="project-img"
              src="images/hero-avatar.jpg"
              alt="Foodies site"
              width="100"
            />
          </li>
        </ul>
        <div class="project-text">
          <h3 class="section-subtitle">TravelTrucks</h3>
          <p class="project-description">
            Responsive web application allowing users to search, filter, and
            select the most suitable rental travel vehicles.
          </p>
          <ul class="skills-list">
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="images/icons.svg#javascript"></use>
              </svg>
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="images/icons.svg#tailwindcss"></use>
              </svg>
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="images/icons.svg#typescript"></use>
              </svg>
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="images/icons.svg#react"></use>
              </svg>
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="images/icons.svg#figma"></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>

      <li class="project-list-item">
        <ul class="projet-images-list">
          <li class="projet-images-item">
            <img
              class="project-img"
              src="images/hero-avatar.jpg"
              alt="Foodies site"
              width="100"
            />
          </li>
          <li class="projet-images-item">
            <img
              class="project-img"
              src="images/hero-avatar.jpg"
              alt="Foodies site"
              width="100"
            />
          </li>
          <li class="projet-images-item">
            <img
              class="project-img"
              src="images/hero-avatar.jpg"
              alt="Foodies site"
              width="100"
            />
          </li>
        </ul>
        <div class="project-text">
          <h3 class="section-subtitle">Foodies</h3>
          <p class="project-description">
            A web platform for sharing culinary recipes with social interaction
            capabilities. A system for publishing user content, subscribing to
            authors, and flexible filtering of dishes by ingredients has been
            implemented.
          </p>
          <ul class="skills-list">
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="images/icons.svg#javascript"></use>
              </svg>
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="images/icons.svg#typescript"></use>
              </svg>
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="images/icons.svg#node-js"></use>
              </svg>
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="images/icons.svg#react"></use>
              </svg>
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="images/icons.svg#express"></use>
              </svg>
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="images/icons.svg#postgresql"></use>
              </svg>
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="images/icons.svg#figma"></use>
              </svg>
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="images/icons.svg#docker"></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
