<section id="stack" class="skills">
  <div class="skills-container container">
    <h2 class="section-title">Skills</h2>
    <div class="skills-wrapper">
      <div class="left">
        <div class="main-skills">
          <h3 class="section-subtitle">Tech skills</h3>

          <h4 class="slills-subtitle">Main stack</h4>

          <ul class="skills-list">
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#html5"></use>
              </svg>
              HTML
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#css3"></use>
              </svg>
              CSS
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#javascript"></use>
              </svg>
              JavaScript
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#typescript"></use>
              </svg>
              TypeScript
            </li >
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#node-js"></use>
              </svg>
              Node.js
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#react"></use>
              </svg>
              React
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#express"></use>
              </svg>
              Express
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#postgresql"></use>
              </svg>
              PostgreSQL
            </li>
          </ul>
        </div>

        <div class="basick-knowledge">
          <h4 class="slills-subtitle">Basick knowledge</h4>

          <ul class="skills-list">
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#mysql"></use>
              </svg>
              MySQL
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#python"></use>
              </svg>
              Python
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#fastapi"></use>
              </svg>
              FastApi
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#java"></use>
              </svg>
              Java
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#spring"></use>
              </svg>
              Spring + SpringBoot
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#postman"></use>
              </svg>
              Postman
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#docker"></use>
              </svg>
              Docker
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#linux"></use>
              </svg>
              Linux
            </li>
            <li class="skills-item"> 
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#git"></use>
              </svg>
              Git
            </li>
          </ul>
        </div>
      </div>

      <div class="basick-knowledge">
          <h4 class="slills-subtitle">In progress</h4>

          <ul class="skills-list">
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#nestjs"></use>
              </svg>
              Nest
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#next-dot-js"></use>
              </svg>
              Next
            </li>
            <li class="skills-item">
              <svg class="menu-btn-icon" width="20" height="20">
                <use href="./src/images/icons.svg#amazonaws"></use>
              </svg>
              AWS
            </li>
          </ul>
        </div>
      </div>

      <div class="right">
        <div class="soft-skills">
          <h3 class="section-subtitle">Soft skills</h3>

          <ul class="skills-list">
            <li>Teamwork</li>
            <li>Helpfulness</li>
            <li>Attention to detail</li>
            <li>Goal setting</li>
            <li>Lifelong Learning</li>
            <li>Critical thinking</li>
          </ul>
        </div>

        <div class="languages">
          <h3 class="section-subtitle">Languages</h3>

          <ul class="skills-list">
            <li>Ukrainian: Native</li>
            <li>English: Intermediate(B1)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
