<section class="work-experiences" id="experiences">
  <div class="experiences-container container">
    <h2 class="section-title">Work Expiriences</h2>
    <h3 class="section-subtitle">City Clinical Hospital 4</h3>
    <ul>
      <li>
        <h4>Programmer, Statistical Department 07.2021 - 08.2023</h4>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus
          ab molestiae minima corrupti architecto sint excepturi voluptatum
          ipsum temporibus, quidem esse, qui, deserunt sit soluta at optio rem!
          Officia cum culpa nemo, magni impedit velit eum ullam vitae deleniti
          perferendis!
        </p>
      </li>
      <li>
        <h4>X-ray Department Engineer 08.2023 - 12.2025</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat qui
          ipsa reprehenderit doloremque pariatur voluptatum? Qui optio
          necessitatibus similique, tempora minus ipsam totam sint cumque vero,
          expedita ipsa quaerat! Itaque ipsam sequi adipisci! Nulla illo
          doloribus veniam, vero odio illum.
        </p>
      </li>
    </ul>
  </div>
</section>
